.navBarItems {
  display: flex;
  position: fixed;
  margin: 0 auto;
  left: 7.5%;
  width: 85%;
  height: 4rem;
  background-color: #3a3a3ab0;
  z-index: 99;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.navbar-logo {
  display: flex;
  color: #00ceef;
  text-decoration: none;
  font-size: 2.5rem;
  cursor: pointer;
}
.menu-icon {
  display: none;
  font-size: 1.5rem;
  color: #00ceef;
  padding: 10px;
  cursor: pointer;
}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
  width: 100%;
}

.nav-links {
  color: #00ceef;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.nav-links:hover {
  color: #e6e6e6;
}
.menu__buttons-active {
  display: flex;
  flex-direction: column;
  width: 100vw;
  list-style: none;
}
.menu__buttons-active a {
  color: #e6e6e6;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .navBarItems {
    height: 90px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    position: absolute;
    top: 63px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background-color: #3a3a3ab0;
    left: 0;
    opacity: 1;
    margin-top: 22px;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav.links {
    text-align: center;
    padding: 4em;
    width: 100%;
    display: table;
  }
  .nav.links:hover {
    background-color: darkblue;
    border-radius: 0;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
  }
}
